/*기본 및 시멘틱태그 start*/
body {
    font-family: 'Nanum Myeongjo', serif; /*폰트: 나눔명조*/
    font-weight: bolder;
    
}
hr {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 2px;
    background: #ccc;
}
.carousel{ /*슬라이드쇼 박스*/
    box-shadow: 3px 5px 5px black;
}

.d-block{ /*슬라이드쇼 이미지*/
    border-radius: 5px;

}
.accordion{ /*프로젝트속 설명카테고리*/
    box-shadow: 3px 5px 5px black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: skyblue;
}
/*기본 및 시멘틱태그 end*/
/*nav start*/
#navbar{
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.8s;
}
#navIcon{
    animation: rotate_image 2s linear infinite;
    transform-origin: 50% 50%;}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
#nav_brand:hover, #nav_aboutme:hover,
#nav_skills:hover, #nav_archiving:hover,
#nav_project:hover{
    color: aqua;
    cursor: pointer;
    transition-duration: 0.5s;
}
/*nav end*/
/*main start*/
.main{
    height: 500px;
    background-image: url('/JnBlogProject2/resource/backgroud.jpg');
    padding-top: 100px;
}
#main_title{
    color: white;
}
#moreInfo{
    border-radius: 10px;
    font-weight: bolder;
}
/*main end*/
/*about me*/
/*about me*/
/*skill start*/
#skill{
    background-image: url(/JnBlogProject2/resource/skills_background.png);
    background-size: cover;
    height: auto;
    padding-left: 150px;
    padding-right: 150px;
}

.skills_box{ /*스킬 아이콘(기본값)*/
    width: 50px;
    height: 50px;
}
.skills_box_javaScript{/*자바스크립트, 별개로 수정*/
    width: 35px;
    height: 50px;
}
.skills_box_thymeleaf{/*타임리프, 별개로 수정*/
    width: 70px;    
    height: 30px;
}
.skills_box_springBoot{/*스프링부트, 별개로 수정*/
    
    width: 90px;
    height: 30px;
}
.skills_box_jpa{
    margin-top: 20px;
    width: 70px;
    height: 70px;
}
.skills_box_springSecurity{
    width: 90px;
    height: 70px;
}
.skills_box_HIBERNATE{
    width: 60px;
    height: 40px;
}
.skills_box_h2{
    width: 60px;
    height: 30px;
}
.skills_box_git{
    width: 100px;
    height: 50px;
}
/*skill end*/
/*Archiving start*/
#archiving{
    background-color: black;
    height: auto;
}
#archiving_card{
    box-shadow: 3px 5px 5px 3px gray;
    transition: all 1s;
}
#archiving_card:hover{
    transform: translateY(20px);
}
/*Archiving end*/
/*Project start*/
#project{
    background-color: #708090;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
}
#project_{/*프로젝트 기본레이아웃~*/
    background-color: white;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 100px;
}
/*Project end*/